.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  height: 400px;
}

.mapContainer {
  width: 100%;
  height: 100%;
}

.lines,
.points {
  flex: 1;
  overflow-y: auto;
}

.feature {
  border: 2px solid transparent;
  border-radius: 8px;
}

.selectedFeature {
  border: 2px solid #007bff;
}
